<%! from django.utils.translation import ugettext as _ %>

<%inherit file="base.html" />

<%block name="title">${_("XBlock Marketplace")}</%block>
<%block name="bodyclass">is-signedin index view-dashboard</%block>

<%block name="jsextra">
<script type="text/javascript">
require(["domReady!", "jquery", "jquery.form", "js/index"], function(doc, $) {
    var reloadPage = function () {
        location.reload();
    };

    var showError = function ()  {
        $('#request-coursecreator-submit').toggleClass('has-error').find('.label').text('Sorry, there was error with your request');
        $('#request-coursecreator-submit').find('.icon-cog').toggleClass('icon-spin');
    };
});
</script>
</%block>

<%block name="content">
<div class="wrapper-mast wrapper">
  <header class="mast has-actions">
    <h1 class="page-header">${_("XBlock Marketplace")}</h1>
  </header>
</div>

<div class="wrapper-content wrapper">
  % if user.is_active:
  <section class="content">
    <article class="content-primary" role="main">
      %if category:
        <div>Filter: ${category} [<a href="#" onclick="window.location.search=''">Reset</a>]</div>
      %endif

      %if len(instances) > 0:
      <div class="courses">
        <ul class="list-courses">
          %for (url, instance) in instances:
            %if category is None or category == instance.category:
            <li class="course-item">
              <a href="${url}">
                <h3 class="course-title">${instance.display_name_with_default}</h3>
              </a>
              <div>Category: <a href="#" onclick="window.location.search='category=${instance.category}'">${instance.category}</a></div>
            </li>
            %endif
          %endfor
        </ul>
      </div>
      %endif

    </article>
  </section>
  %endif
</div>
</%block>
